<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - IntelliBotics</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <img src="https://postimg.cc/xNz6HJX0" alt="Logo">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="pate.html">Pate</a></li>
                <li><a href="sate.html">Sate</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="contact-info">
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to contact us:</p>
        <p>Email: <a href="mailto:anointingomowumi62@gmail.com">anointingomowumi62@gmail.com</a></p>
        <p>WhatsApp: <a href="https://wa.me/+2349050059930">+2349050059930</a></p>
    </section>

    <footer>
        <p>&copy; 2025 IntelliBotics. All rights reserved. <a href="privacy.html">Privacy Policy</a></p>
    </footer>
</body>
</html>
